<footer>
  <div class="content">
    <div class="content__top">
      <nav class="navbar">
        <a href="#">About Us</a>
        <a href="#">Contact</a>
        <a href="#">Privacy Policy</a>
      </nav>
    </div>
    <div class="content__bottom">
      <div class="content__bottom__left">
        <p>&copy; {{ currentYear }} <a routerLink="/home">MEAN</a>. All rights reserved.</p>
      </div>
      <div class="content__bottom__right">
        <p>
          Developed by <span>Rakotonirina</span> Fanomezantsoa Tahina &
          <span>Rakotoarivelo</span> Zohra Miangaly
        </p>
      </div>
    </div>
  </div>
</footer>
