<div class="orders-page">
  <!-- HEADER -->
  <div class="top-bar">
    <button routerLink="/shops" class="back-btn">← Continuer mes achats</button>
    <h1>Mes commandes</h1>
  </div>

  @if (loading()) {
    <div class="loading">Chargement des commandes...</div>
  }

  @if (!loading() && orders().length === 0) {
    <div class="empty">
      <i class="icn-cart"></i>
      <h3>Aucune commande pour le moment</h3>
      <button routerLink="/home">Commencer mes achats</button>
    </div>
  }

  @for (order of orders(); track order._id) {
    <div class="order-card">
      <!-- HEADER -->
      <div class="order-header">
        <div>
          <h3>{{ order.shopName }}</h3>
          <span class="date">
            {{ order.createdAt | date: 'dd MMM yyyy - HH:mm' }}
          </span>
        </div>

        <span
          class="status"
          [class.processing]="order.status === 'Processing'"
          [class.accepted]="order.status === 'ACCEPTED'"
          [class.rejected]="order.status === 'REJECTED'"
        >
          {{ order.status }}
        </span>
      </div>

      <!-- PRODUCTS -->
      <div class="products">
        @for (item of order.items; track item.productName) {
          <div class="product-line">
            <span>{{ item.productName }}</span>
            <b>x{{ item.quantity }}</b>
          </div>
        }
      </div>

      <!-- FOOTER -->
      <div class="footer">
        <h4>Total: {{ order.totalAmount }} Ar</h4>

        @if (order.status === 'ACCEPTED') {
          <button class="reorder">Commander à nouveau</button>
        }
      </div>
    </div>
  }

  <!-- PAGINATION -->
  @if (totalPages() > 1) {
    <div class="pagination">
      <button (click)="changePage(page() - 1)" [disabled]="page() === 1">←</button>
      <span>Page {{ page() }} / {{ totalPages() }}</span>
      <button (click)="changePage(page() + 1)" [disabled]="page() === totalPages()">→</button>
    </div>
  }
</div>
