<main>
  <div class="home">
    <div class="home__header">
      <div class="title">
        <picture>
          <img src="assets/images/shopping_walking.png" alt="girl shopping walking" />
        </picture>
        <div class="promo">
          <h1 class="black">Black</h1>
          <span class="sale">Sales</span>
          <h1 class="friday">Friday</h1>
          <h2 class="caption">
            Enjoy up to <span>50%</span> off your favorite items and discover exclusive Black Friday
            deals across the mall
          </h2>
        </div>
        <button class="shopBtn">Shop now <span class="arrow"></span></button>
      </div>
    </div>
    <div class="home__shopCategories">
      <div class="home__shopCategories__title">Shop by Category</div>
      <div class="home__shopCategories__cards">
        @for (card of cards; track $index) {
          <div class="card">
            <picture>
              <img [src]="card.img" [alt]="card.alt" />
            </picture>
            <div class="card__caption">
              <div class="card__caption__title">{{ card.title }}</div>
              <div class="card__caption__desc">{{ card.caption }}</div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</main>
