@use './' as *;

body {
  font-family: $fontFamily-default;
  font-weight: $normal;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

input[type='file'] {
  background: #fafafa;
  padding: 10px;
  cursor: pointer;
}

.logo {
  cursor: pointer;
  img {
    height: 70px !important;
  }
}
