<aside class="sidebar">
  <div class="sidebar__logo" routerLink="/admin/dashboard">
    <div class="picture">
      <img src="assets/images/mean-logo.svg" alt="MEAN Mall" />
    </div>
  </div>

  <nav class="sidebar__menu">
    <a routerLink="/admin/dashboard" routerLinkActive="sidebar__item--active" class="sidebar__item">
      <i class="icn-home"></i>
      Dashboard
    </a>

    <a routerLink="/admin/users" routerLinkActive="sidebar__item--active" class="sidebar__item">
      <i class="icn-user"></i>
      Utilisateurs
    </a>

    <a routerLink="/admin/shops" routerLinkActive="sidebar__item--active" class="sidebar__item">
      <i class="icn-cart"></i>
      Boutiques
    </a>
    <a routerLink="/admin/products" routerLinkActive="sidebar__item--active" class="sidebar__item">
      <i class="icn-price-tags"></i>
      Produits
    </a>
  </nav>
</aside>
