<div class="users">
  <div class="users__header">
    <div>
      <h2 class="users__title">Utilisateurs</h2>
      <p class="users__subtitle">Gérer tous les utilisateurs</p>
    </div>
  </div>

  <div class="users__card">
    <table class="users__table">
      @if (loading()) {
        <div class="global-spinner">
          <i class="icn-spinner2 spinner"></i>
        </div>
      }

      @if (!loading() && users().length === 0) {
        <div class="empty">Aucun utilisateur</div>
      }
      <thead>
        <tr>
          <th>Nom</th>
          <th>Email</th>
          <th>Rôle</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        @for (user of users(); track user._id) {
          <tr>
            <td>{{ user.firstName }} {{ user.lastName }}</td>
            <td>{{ user.email }}</td>

            <td>
              <span
                class="role"
                [class.role--admin]="user.roles.includes('ADMIN')"
                [class.role--shop]="!user.roles.includes('ADMIN') && user.roles.includes('SHOP')"
                [class.role--client]="!user.roles.includes('ADMIN') && !user.roles.includes('SHOP')"
              >
                {{
                  user.roles.includes('ADMIN')
                    ? 'ADMIN'
                    : user.roles.includes('SHOP')
                      ? 'SHOP'
                      : 'CLIENT'
                }}
              </span>
            </td>

            <td class="users__actions">
              <button class="icon-btn view">
                <i class="icn-eye"></i>
              </button>

              <button class="icon-btn edit">
                <i class="icn-pencil"></i>
              </button>

              <!-- <button class="icon-btn delete">
                <i class="icn-bin"></i>
              </button> -->
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  <!-- pagination -->
  <app-pagination [page]="page()" [totalPages]="totalPages()" (pageChange)="onPageChange($event)">
  </app-pagination>
</div>
