<header>
  <div class="headerContainer">
    <div class="content">
      <div class="content__left">
        <div class="logo">
          <a href="">
            <div class="picture">
              <img src="assets/images/mean-logo.svg" alt="MEAN Mall" />
            </div>
          </a>
        </div>
      </div>
      <div class="content__right">
        <div class="navbar">
          <a routerLink="/home" routerLinkActive="active">Home</a>
          <a href="#">About</a>
          <a href="#">Services</a>
          <a href="#">Contact</a>
        </div>
        <div class="login">
          <button class="loginBtn">Login</button>
        </div>
      </div>
    </div>
  </div>
</header>
