<header>
  <div class="headerContainer">
    <div class="content">
      <div class="content__left">
        <div class="logo">
          <a routerLink="/home">
            <div class="picture">
              <img src="assets/images/mean-logo.svg" alt="MEAN Mall" />
            </div>
          </a>
        </div>
      </div>
      <div class="content__right">
        <nav class="navbar">
          <a routerLink="/home" routerLinkActive="active">Accueil</a>
          <a routerLink="/shops" routerLinkActive="active">Boutiques</a>
          <a href="#">Services</a>
          <a href="#">Contact</a>
        </nav>
        <div class="header-actions">
          <!-- CART -->
          <div class="cart" (click)="goToCart()" [class.bump]="cartBounce()">
            <i class="icn-cart"></i>

            @if (cartService.cartCount() > 0) {
              <span class="cart__badge"></span>
            }
          </div>

          <!-- LOGIN / USER -->
          <div class="login">
            @if (!authService.isLoggedIn()) {
              <button class="loginBtn" (click)="authService.setAuthPopup(true)">
                <i class="icn-switch"></i>
                Login
              </button>
            } @else {
              <div class="welcome">
                Welcome, <span>{{ user()?.firstName }}</span>
                <button class="logoutBtn" (click)="authService.logout()" title="logout">
                  <i class="icn-switch"></i>
                </button>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
