<div class="products-dashboard">
  <div class="top-bar">
    <button class="back-btn" routerLink="/shop-dashboard/dashboard">← Retour dashboard</button>
  </div>

  <div class="products-dashboard__header">
    <h1>Mes Produits</h1>
    <button class="add-btn" (click)="openCreate()">+ Ajouter produit</button>
  </div>

  @if (loading()) {
    <div class="loading">Chargement...</div>
  }

  @if (!loading() && products().length === 0) {
    <div class="empty">Aucun produit pour votre boutique.</div>
  }

  @if (!loading() && products().length > 0) {
    <table class="products-table">
      <thead>
        <tr>
          <th>Image</th>
          <th>Nom</th>
          <th>Prix</th>
          <th>Quantité</th>
          <th>Statut</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        @for (product of products(); track product._id) {
          <tr>
            <td>
              <img [src]="product?.images?.[0]" alt="product" class="product-img" />
            </td>

            <td>{{ product.name }}</td>
            <td>{{ product.price }} Ar</td>
            <td>{{ product.stock }}</td>

            <td>
              <span
                class="status"
                [class.active]="product.isActive"
                [class.inactive]="!product.isActive"
              >
                {{ product.isActive ? 'Actif' : 'Inactif' }}
              </span>
            </td>

            <td class="actions">
              <button class="edit" (click)="openEdit(product)">Modifier</button>
              <!-- <button class="delete" (click)="openDelete(product)">Supprimer</button> -->
            </td>
          </tr>
        }
      </tbody>
    </table>
    <app-pagination [page]="page()" [totalPages]="totalPages()" (pageChange)="onPageChange($event)">
    </app-pagination>
  }
</div>

<app-product-modal
  [isOpen]="isModalOpen"
  [editProduct]="editingProduct"
  (closeModal)="isModalOpen = false"
  (created)="reloadProducts()"
>
</app-product-modal>

<app-confirm-modal
  [isOpen]="deletePopup()"
  message="Supprimer le produit"
  [itemName]="productName()"
  (confirm)="confirmDelete()"
  (cancel)="deletePopup.set(false)"
>
</app-confirm-modal>
