<div class="shop-products">
  <!-- HEADER -->
  <div class="shop-products__header">
    <button class="back" routerLink="/shops">← Back</button>

    <div>
      <h1>{{ shopName() }}</h1>
      <p>{{ products().length }} produits disponibles</p>
    </div>
  </div>

  <!-- LOADING -->
  @if (loading()) {
    <div class="loading">Chargement produits...</div>
  }

  <!-- EMPTY -->
  @if (!loading() && products().length === 0) {
    <div class="empty">Aucun produit pour cette boutique 😢</div>
  }

  <!-- GRID -->
  @if (!loading() && products().length > 0) {
    <div class="products-grid">
      @for (p of products(); track p._id) {
        <div class="product-card">
          <div class="product-card__img">
            <img [src]="p?.images?.[0]" />
          </div>

          <div class="product-card__content">
            <h3>{{ p.name }}</h3>
            <p class="price">{{ p.price }} Ar</p>

            <a [routerLink]="['/products', p._id]" class="detail-btn">Voir détails →</a>
            <div class="product-card__bottom">
              <div class="qty-cart">
                <div class="qty-box">
                  <button (click)="decrease(p._id)">−</button>
                  <span>{{ quantities()[p._id] }}</span>
                  <button (click)="increase(p._id)">+</button>
                </div>

                <button class="add-btn" (click)="addToCart(p._id)">Ajouter</button>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  }
</div>
